@import "bootstrap/scss/bootstrap";

$primary:#7036BA;
$secondary:#00BFB4;

body{
  width: 1920px;
  margin: 0 auto;
  color: white !important;
  font-family: "Raleway", sans-serif!important;
}

.section-1{
  width: 1920px;
  height: 800px;
  background-color: $primary;
  
 
  header{
    position: fixed;
    top: 25px;
    width: 1140px;
    left: 390px;
    padding-right: 15px;
    padding-left: 15px;
    gap: 145px;
    z-index: 100;
    
    .menu-inicial{
      ul{
        
        li{
          img{
            width: 30px;
            height: 30px;
            top: 15px;
            object-fit: contain;
            margin-right: 15px;
          }
          a{
            color: white !important;
          }
        }
      }
      
    }
  }


  .foto-pesas{
    display: block;
    width: 946px;
    height: 800px;
    left: 974px;
    
  }

  article{
    position: fixed;
    width: 540px;
    height: 365px;
    top: 220px;
    left: 404px;
    gap: 40px;

    h2{
      font-weight: 700;
      font-size: 60px;
      line-height: 80px;
      color: white;
    }
    p{
      font-size: 24px;
      line-height: 30px;
      font-weight: 500;
    }
    button{
      
      width: 261px;
      height: 65px;
      border-radius: 50px;
      padding: 20px 50px 20px 50px;
      gap: 10px;
      background-color: $secondary;
      font-weight: 700;
      font-size: 25px;
      line-height: 25px;
      align-items: center;
      text-align: center;
      
    }
  }
}